.contact{
    display: flex;
    width: 100%;
    flex-direction: row;
}
.boxes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.box{
    height: 40vh;
    margin: 2.5px;
    font-size: 1.5rem;
    box-sizing: content-box;
    border: 1px solid #888;
    background-color: #fff;
    width: 400px;
    text-align: left;
}
.text {
    padding: 10px 0 0 20px;
}
.icon{
    display: flex;
    justify-content: center;
}
.box .icon-mail::before,.box .icon-linkedin::before,.box .icon-phone::before{
    font-size: 90px;
    transition: all 0.5s ease-in-out
}
.box .icon-phone:hover::before, .box .icon-linkedin:hover::before, .box .icon-mail:hover::before{
    color: #fbff01
}


